.smalltag
{
    font-size:small;
    color:White; 
    line-height:2; 
    font-weight:bolder;
}

.mediumtag
{
    font-size:20px;
    color:White; 
    line-height:2; 
    font-weight:bolder;
}

.largetag
{
    font-size:30px;
    color:White; 
    line-height:2; 
    font-weight:bolder;
}

